.game-div {
  padding: 120px 45px;
  background-color: #ff9756;
}

@media (max-width: 600px) {
  .game-div {
    height: 100vh;
    padding: 120px 5px 0px 5px;
    background-color: #ff9756;
  }
}

.game-div h1 {
  color: white;
  margin-bottom: 20px;
}

.img-div {
  position: relative;
}

.pointer {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid red;
  background-color: red;
}