.modal {
  width: 200px;
  height: auto;
  background-color: #D82B2A;
  border: 1px solid black;
  position: absolute;
  top: 0;
  border-radius: 15px;
}

.modal ul {
  list-style: none;
  display: grid;
}

.modal ul li {
  border: 1px solid black;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  font-size: 1.125rem;
  user-select: none;
  cursor: pointer;
}

.modal ul li:hover {
  background-color: #fc5050;
}

.modal ul li:first-child {
  border-radius: 15px 15px 0 0;
}

.modal ul li:last-child {
  border-radius: 0 0 15px 15px;
}

.marker {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px dashed black;
  display: block;
  position: absolute
}