@import './styles/chapter-select.css';
@import './styles/game.css';
@import './styles/modal.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Irish Grover';
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

@font-face {
  font-family: 'Irish Grover';
  src: url('./assets/font/irish-grover.regular.ttf');
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.app {
  display: grid;
  grid-template-areas: 
  "header"
  "content"
  "footer"
  ;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #FB1818;
  padding: 5px 40px;
  position: fixed;
  width: 100%;
  z-index: 2;
  gap: 20px;
}

.header .logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
  cursor: pointer;
}

.header h1 {
  font-size: 3.5rem;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
}

.header > span {
  font-size: 2rem;
  cursor: pointer;
  padding: 20px 5px;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #FB1818;
  color: white;
}

.char-div {
  display: grid;
  grid-template-columns: 200px 100px;
  align-items: center;
  gap: 25px;
}

.characters {
  width: 200px;
  height: 90px;
}

.characters img {
  object-fit: contain;
  height: 80px;
}

.characters div {
  display: flex;
  gap: 7px;
  position: relative;
  top: -10px;
}

.characters div span:last-child {
  margin-left: 7px;
}

.characters span {
  font-size: 0.75rem;
}

.counter {
  font-size: 2rem;
  position: relative;
  top: 5px;
}